<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">SSW</h1>
                <nav>
                </nav>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">
                <div class="logo"></div>
                <div class="question landing-questions">
                    <div id="select-trade" class="select-question">
                        <p class="question-text">
                            I am looking for...
                        </p>
                        <select id="trade"><option></option>
                          <option>Electrician</option>
                          <option>Plumber</option>
                          <option>Mechanic</option>
                        </select>
                    </div>
                    <div id="select-location" class="question select-question hidden">
                        <p class="question-text">
                            Somewhere around...
                        </p>
                        <select id="location"><option></option>
                          <option>Ajah</option>
                          <option>Victoria Island</option>
                          <option>Ikoyi</option>
                        </select>
                    </div>
                </div>
                <div class="search-results hidden">
                    <p class="result-summary">
                        We found <span id="result-count"></span> <span id="search-trade"></span> around <span id="search-location"></span>.
                    </p>
                  <div class="artisans hidden">
                    <div class="artisan-summary">
                      <p class="artisan-name">Timothy Jaba</p>
                      <div class="artisan-review-summary">
                        <div class="artisan-rating"><span class="stars">*****</span> <span class="artisan-review-count">13</span> reviews</div>
                        <div class="artisan-attributes">
                          <p><span>Tardy</span><span>Pricey</span><span>Hard to Reach</span></p>
                        </div>
                        <a href="#">See reviews</a>
                      </div>
                      <div class="contact-artisan"></div>
                    </div>
                    <div class="artisan-summary">
                      <p class="artisan-name">Segun Olaolu</p>
                      <div class="artisan-review-summary">
                        <div class="artisan-rating"><span class="stars">*****</span> <span class="artisan-review-count">5</span> reviews</div>
                        <div class="artisan-attributes">
                          <p><span>Shoddy</span><span>Pricey</span><span>Talkative</span></p>
                        </div>
                        <a href="#">See reviews</a>
                      </div>
                      <div class="contact-artisan"></div>
                    </div>
                    <div class="artisan-summary">
                      <p class="artisan-name">Sunday</p>
                      <div class="artisan-review-summary">
                        <div class="artisan-rating"><span class="stars">*****</span> <span class="artisan-review-count">7</span> reviews</div>
                        <div class="artisan-attributes">
                          <p><span>Professional</span><span>Affordable</span><span>Hard to Reach</span></p>
                        </div>
                        <a href="#">See reviews</a>
                      </div>
                      <div class="contact-artisan"></div>
                    </div>
                  </div>
                  <div class="no-result-action hidden">
                    <p>Please help a neighbour by adding a review when you find one.</p>
                    <div class="guest-message hidden">
                      <p>Kindly enter your email address so we can send you a reminder</p>
                      <input type="email" name="email"/><button class="btn">Send me a reminder</button>
                    </div>
                    <div class="user-message hidden">
                      <p>We'll send you a reminder in about a week.</p>
                    </div>
                  </div>
                  <div class="clear"></div>                  
                </div>                
            </div> <!-- #main -->
        </div> <!-- #main-container -->
        <div class="landing-actions">
            <p class="first-timer">New around here?</p>
            <button class="sign-up btn">Sign up</button>
            <p class="returnee">Already a member?</p>
            <button class="login btn">Login</button>
        </div>
        <div class="footer-container">
            <footer class="wrapper">
                <h3>footer</h3>
            </footer>
        </div>

        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script>-->
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.js"><\/script>')</script>

        <script src="js/main.js"></script>
    </body>
</html>
