/*#Site Wide Defaults#*/
* {
  box-sizing: border-box;
}

.clear{
  clear: both;
}

/*#Navigation#*/
nav{
  margin-right:0;
}



/*#Landing page styles#*/
.initial-questions{
  margin: 0 auto;
  width: 250px;
}
.select-question p{
  font-size:30px;
  
}
.select-question{
  margin-top: 100px;
}
.select-question select{
   border: 1px solid #ccc;
   background: transparent;
   font-size: 14px;
   height: 29px;
   padding: 5px; 
   width: 268px;
}
}
.artisan-search-result{
  
}
.artisan-summary p .artisan-name{

  
}
.artisan-summary .artisan-rating{
 
}
.artisans{
  width: 80%;
  margin: 0 auto;
}
.artisan-summary{
  width: 33.33%;
  float: left;
}
.artisan-name{
  
}
.artisan-review-summary{
  
}
.artisan-rating{
  
}
.artisan-attributes{
  
}
.artisan-review-count{
  
}
.contact-artisan{
  
}